body{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #efefef;
    font-size: 18px;
}
h1{
    font-size: 40px;
}
h4, h5{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
footer{
    background-color: black;
    color: gray;
    /* height: 5rem; */
    padding-top: 1rem;
}

.flexContainer{
    display: flex;
    padding: 0 5%;
}
.w-half{
    width: 50%;
    padding-left: 5%;
    margin: 5%;
}
.w-half img{
    width: 100%;
    padding-top: 25%;
}
#sectionBG{
    background: linear-gradient(90deg, white, brown);
}
.w-oneThird{
    width: 25%;
    padding: 18px 18px;
    margin: 0 2.5%;
}

.w-oneThird img{
    width: 100% ;
    border-radius: 5%;
}
.w-oneThird img:hover{
    opacity: 70%;
}
.highlight:hover{
    font-size: 46px;
    color:tomato;
    margin-bottom: 0;
}
.border-round{
    border-radius: 5%;
}
.shadow{
    box-shadow: -2px 5px 10px rgb(99, 97, 97);
}
.paragraph{
    font-size: 24px;
}
.link-btn{
    background:linear-gradient(45deg, #93A3A1, #b99c9c);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-family: monospace;
    font-weight: 900;   
    padding: 10px 40px;
    transition: 0.5s;
    margin-bottom: 50px;
    transition: .7s;
}
.link-btn:hover{
    background:linear-gradient(45deg, #b99c9c, #93A3A1 );
    box-shadow: 2px -2px 2px #2e3d3b;
}

#sectionBG{
    background-image: url(images/Interior.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 80%; */
    /* color: white; */
}
#bonusSection{
    padding: 5% 20%;
    border-radius: 15%;
}