body{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin: 0;
    background-color: #efefef;
    font-size: 18px;
}
nav{
    position: fixed; 
    width: 100%; 
    z-index: 1;
}
h1{
    font-size: 40px;
}
h4, h5{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
nav ul{
    text-align: end;
    list-style-type: none;
    padding: 20px 0; 
    margin:0;
    background-color: black;
    width: 100%;
}
li{
    display: inline;
    /* float: right; */
}
li a{
    padding: 20px;
    margin: 0 ;
    color: white;
    /* display: block; */
    /* background-color: rgb(24, 41, 41); */
}
li a:hover{
    color: tomato;
}
footer{
    background-color: black;
    color: gray;
    /* height: 5rem; */
    padding: 2rem 0 ;
}

.flexContainer{
    display: flex;
    padding: 0 5%;
}
.w-half{
    width: 50%;
    padding-left: 5%;
    margin: 5%;
}
.w-half img{
    width: 100%;
    padding-top: 25%;
}
#sectionBG{
    background: linear-gradient(90deg, white, brown);
}
.w-oneThird{
    width: 25%;
    padding: 18px 18px;
    margin: 0 2.5%;
}

.w-oneThird img{
    width: 100% ;
    border-radius: 20px;
}
.w-oneThird img:hover{
    opacity: 70%;
}
.highlight:hover{
    font-size: 46px;
    color:tomato;
    margin-bottom: 0;
}
.border-round{
    border-radius: 20px;
}
.shadow{
    box-shadow: -2px 5px 10px rgb(99, 97, 97);
}
.paragraph{
    font-size: 24px;
}
.link-btn{
    background:linear-gradient(45deg, #93A3A1, #b99c9c);
    color: rgb(71, 69, 69);
    border-radius: 20px;
    text-decoration: none;
    font-family: monospace;
    font-weight: 900;   
    padding: 10px 40px;
    transition: 0.5s;
    margin-bottom: 50px;
    transition: .6s;
}
.link-btn:hover{
    background:linear-gradient(45deg, #b68888, #7d9b97 );
    box-shadow: -2px 2px 2px #2e3d3b;
    color: white;
}
.border-bottom{
    border-bottom: 3px solid black;
    text-align: left;
}

#about{
    background-image: url(images/sectionBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#stats{
    padding: 5% 20%;
    border-radius: 15%;
}
